<html>
    
    <head>
      <meta http-equiv="refresh" content="10;url=/index.html" />
      <title>
       Error.</title>
    </head>
    
    <body>
    
        There was an error: <%= error %> If you are not automatically redirected, push the back button.
        
    
    
    </body>
    
</html>