<html>
    
    <head>
      <meta http-equiv="refresh" content="3;url=/index.html" />
      <title>
        Sign Up.</title>
    </head>
    
    <body>
    
         
    
      
      You have signed up. You will be redirected to the main page automatically.
        
    
    
    </body>
    
</html>